<a href="https://colab.research.google.com/github/Abdullah-Al-Faisal296/Fall-2020-Ai-lab-PC-B_Faisal_171-15-1185/blob/main/week_2_PC_B_Faisal_1185.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**if statement**

In [2]:
grade = 75
if grade>=50:
  print("passed")

passed

#**If else statement**

In [3]:
grade =40
if grade>=50:
  print("passed")
else:
  print("fail")

fail

**Conditional** expression

In [ ]:
result = ('Passed' if grade >= 50 else 'Failed')

In [ ]:
print(result)

Failed

#**if elif else statement**

In [4]:
grade = 81

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

B

#**While Statement**

In [ ]:
number = 1

while (number<=22):
  print(number, end=" ") 
  number+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

while statement to find the first power of 3 larger than 50:

In [ ]:
product = 2

while product<=4:
  product = product*3

In [ ]:
print(product)

6

#**For statement**

In [20]:
for character in "Faisal":
  print(character, end=" ")

F a i s a l

Built in Range Function

Let’s use a for statement and the built-in range function to iterate precisely 20 times, displaying the values from 0 through 19:

In [ ]:
for counter in range(20):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000

In [ ]:
total = 0
for number in range(1000):
  total = total+number

print(total)

499500

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [ ]:
for number in range(3,8):
  print(number, end=",")

3,4,5,6,7,

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [19]:
for number in range(16,0,-2):
  print(number, end=" ")

16 14 12 10 8 6 4 2

Take an input from user and print the number table

In [ ]:
number =  int(input())

In [18]:
for i in range(1,11):
  print(number,"X",i,"=",number*i)

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

Nested For Loop

In [12]:
for left in range(9):
    for right in range(left,9):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [0|7] [0|8]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [1|7] [1|8]
[2|2] [2|3] [2|4] [2|5] [2|6] [2|7] [2|8]
[3|3] [3|4] [3|5] [3|6] [3|7] [3|8]
[4|4] [4|5] [4|6] [4|7] [4|8]
[5|5] [5|6] [5|7] [5|8]
[6|6] [6|7] [6|8]
[7|7] [7|8]
[8|8]

Break statement

In [8]:
for number in range(8):
  if  number==12:
    break
  print(number, end=" ")

0 1 2 3 4 5 6 7

Continue statement

In [10]:
for number in range(12):
  if  number==7:
    continue
  print(number, end=" ")

0 1 2 3 4 5 6 8 9 10 11